*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; 

} 
.app-container{
  min-height: 100vh;
  background-color: rgb(176, 223, 230); 
  display: flex; 
  flex-direction: column;
  padding: 20px; 
  
} 
.chat-head{
  text-align: center;
  font-family: "Roboto";
  font-size: 30px;
}